:root {
    --color-green-dark: #32401D; /* Verde Oscuro */
    --color-green: #67733D; /* verde*/
    --color-naranja-fuerte: #BF5E26;
    --color-naranja-ligth: #D9985F;
    --color-azul: rgb(40, 56, 69);
    --color-blanco: #ffffff;
    --color-gris-logo: #333333;
    --color-negro: #000000;
  }

.secciont-first-view{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    overflow: hidden;
}



  .capa-imagen{
    background-image: url('../assets/reunion.webp');
    width:100%;
    min-height: 100vh;
    opacity: 1;
    z-index: 2;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0px 0px 0px 0px;
    filter: grayscale(0.5);
    }
    .capa-imagen::before {
      content: "";
      position: absolute;
      background-color: #0c365bc6;
    mix-blend-mode:normal;
      /* background-color: var(--color-azul); */
      left: 0;
      width: 100%;
      height: 100vh;
      z-index: 2; /* Asegúrate de que este valor sea mayor que la z-index de .capa-imagen */
      opacity: 1;
      -webkit-filter: grayscale(0);
filter: grayscale(0);
  }
.content{
    width: 80%;
    position: absolute;
    z-index: 20;
    display: flex;
    min-height: 80vh;
}
.title{
  text-transform: uppercase;
  width: 80%;
  height: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  font-weight: 400;
  font-style: normal;
  font-family: "Staatliches", sans-serif;
  color: #ffffff;
  font-size: 8.5rem;
  letter-spacing: 0em;
  line-height: 1.1;

color: var(--color-blanco);
}
.title span{
color: #666666;
}
.frase{
text-transform: uppercase;
width: 100%;
height: auto;
white-space: pre-wrap;
word-wrap: break-word;
word-break: break-word;
font-weight: 400;
font-style: normal;
font-family: "Staatliches", sans-serif;
color: var(--color-naranja-fuerte);
font-size: 4rem;
letter-spacing: 0em;
line-height: 1.1;
}
.columna1{
width: 10%;

}

.columna2{
  width: 80%;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  }
.columna3{
  display: flex;
  align-items: flex-end;
  width: 10%;
}

  .callme{

    padding: 20px 50px;
    font-size: 0.9rem;
    outline: none;
    border: solid 0px;
    font-size: 17px;
  }

  .callme-input{
    border-radius: 10px 0px 0px 10px ;
    width: 200px;

    
  }

  .callme-button{
  
    border-radius: 0px 10px 10px 0px ;
    background-color: var(--color-green);
    color: var(--color-blanco);
    cursor: pointer;
    outline: none;
  }

  .callme-button:hover{
    background-color: var(--color-green-dark);
  }
  @media screen and (min-width: 800px) {
    .title {
      font-size: 7.5rem; /* Ejemplo de cambio en el tamaño de fuente específico para el título */
    }
  }
  @media screen and (max-width: 768px) and (max-height: 1024px) {
    /* Agrega aquí los estilos que deseas aplicar cuando el ancho sea menor que 768 píxeles y la altura sea menor que 1024 píxeles */
    /* Por ejemplo, ajustar tamaños de fuente, márgenes, etc. */
    body {
      font-size: 14px; /* Ejemplo de cambio en el tamaño de fuente */
    }
  
    .title {
      font-size: 6.5rem; /* Ejemplo de cambio en el tamaño de fuente específico para el título */
    }

    .callme{
      min-width: 100%;
      box-sizing: border-box;
    }
    .callme-input{

      border-radius: 10px 10px 0px 0px ;
    }
    .callme-button{
  
      border-radius: 0px 0px 10px 10px ;
    }
    /* Agrega aquí más estilos según tus necesidades */
  }

  @media screen and (max-width: 844px) and (max-height: 390px) {
    .title {
      font-size: 5rem; /* Ejemplo de cambio en el tamaño de fuente específico para el título */
    }
  }

  @media screen and (max-width: 390px) and (max-height: 844px) {
    .title {
      font-size: 5rem; /* Ejemplo de cambio en el tamaño de fuente específico para el título */
    }
   
  }