:root {
    --color-green-dark: #32401D; /* Verde Oscuro */
    --color-green: #67733D; /* verde*/
    --color-naranja-fuerte: #BF5E26;
    --color-naranja-ligth: #D9985F;
    --color-azul: rgb(40, 56, 69);
    --color-blanco: #ffffff;
    --color-gris-logo: #333333;
    --color-negro: #000000;
  }

.secciont-first-view{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height:100vh;
    background-image: url('../assets/reunion.webp');
    width:100%;
    background-size: cover;
}

/* 
.secciont-first-view::before{
  backdrop-filter: grayscale(1);;
  background-color: #0c365bc6;
  content: "";
mix-blend-mode:normal;
min-height:100vh;
  width: 100%;
  z-index: 2; 
  opacity: 1;
} */

.content{
    width: 100%;
    min-height: 100vh;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: grayscale(1);;
    background-color: #0c365bc6;
}
.title{
  text-transform: uppercase;
  width: 80%;
  margin-top: 50px;
  margin-bottom: 50px;
  height: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  font-weight: 400;
  font-style: normal;
  font-family: "Staatliches", sans-serif;
  color: #ffffff;
  font-size: 8rem;
  letter-spacing: 0em;
  line-height: 1.1;
color: var(--color-blanco);
}
.title span{
color: #666666;
}
.frase{
text-transform: uppercase;
width: 100%;
margin-bottom: 50px;
height: auto;
white-space: pre-wrap;
word-wrap: break-word;
word-break: break-word;
font-weight: 400;
font-style: normal;
font-family: "Staatliches", sans-serif;
color: var(--color-naranja-fuerte);
font-size: 4rem;
letter-spacing: 0em;
line-height: 1.1;
}
.columna1{
width: 10%;

}

.columna2{
  width: 80%;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  }
.columna3{
  display: flex;
  align-items: flex-end;
  width: 10%;
}

  .callme{
    padding: 20px 30px;
    outline: none;
    border: solid 0px;
    font-size: 17px;

  }

  .callme-input{
    border-radius: 10px 0px 0px 10px ;
    min-width: 220px;
    
  }

  .callme-button{
  
    border-radius: 0px 10px 10px 0px ;
    background-color: var(--color-green);
    color: var(--color-blanco);
    cursor: pointer;
    outline: none;
    margin-bottom: 50px;
  }

  .callme-button:hover{
    background-color: var(--color-green-dark);
  }
  
  @media screen and (max-width: 550px) {
    .title{
      width: 100%;

      font-size: 5rem;
    }

    .frase{
    
      margin-bottom: 20px;
      height: auto;
      font-size: 3rem;
      letter-spacing: 0em;
      line-height: 1.1;
      }
   

  .callme{
    font-size: 15px;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    min-width: 250px;
  }

  .callme-input{
    border-radius: 10px 10px 0px 0px ;
  }

  .callme-button{
    border-radius: 0px 00px 10px 10px ;
    background-color: var(--color-green);
    color: var(--color-blanco);
    cursor: pointer;
    outline: none;
    margin-bottom: 50px;
    border: solid 0px;
  }

}