.secction{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    font-size: 20px;
    min-height: 100vh;
    box-sizing: border-box;
}
.cuerpo-articulo{
    width: 50%;
}

.imagenCompleta{
    width: 50%;
    height: 100vh;
    overflow: hidden;
}
.imagenCompleta img{
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.cuerpo-articulo{
    box-sizing: border-box;
    padding:50px 50px;
}
.secction .cuerpo-articulo h3{

height: auto;
white-space: pre-wrap;
word-wrap: break-word;
word-break: break-word;
overflow: visible;
font-weight: 700;
font-style: normal;
font-family: "Inter", "Inter Placeholder", sans-serif;
color: #333333;
font-size: 50px;
letter-spacing: -2px;
line-height: 1.2;
text-align: left;
}


.secction .cuerpo-articulo p{
box-sizing: border-box;
padding: 50px 0px;
height: auto;
white-space: pre-wrap;
word-wrap: break-word;
word-break: break-word;
overflow: visible;
font-weight: 500;
font-style: normal;
font-family: "Inter", sans-serif;
color: #888888;
font-size: 24px;
letter-spacing: -0.5px;
line-height: 1.5;
text-align: left;
}

.miniArt{
display: flex;
box-sizing: border-box;
width: 100%;
height: min-content;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 40px 40px 40px 40px;
overflow: visible;
align-content: center;
flex-wrap: wrap;
gap: 40;

}

.miniFoto{
width: 450px;
overflow: hidden;
aspect-ratio: 1.3333333333333333 / 1;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
border-radius: 20px;
}

.miniCuerpo{
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 10px 0px 0px 40px;
align-content: flex-start;
flex-wrap: nowrap;
gap: 20;

border-radius: 0px 0px 0px 0px;
}

.miniCuerpo h3 {

white-space: pre;
overflow: visible;
font-weight: 700;
font-style: normal;
font-family: "Inter", "Inter Placeholder", sans-serif;
color: #001122;
font-size: 50px;
letter-spacing: -2.1px;
line-height: 1.2;
text-align: left;

}

.miniCuerpo p{
    box-sizing: border-box;
    width:350px;
height: auto;
white-space: pre-wrap;
word-wrap: break-word;
word-break: break-word;
overflow: visible;
font-weight: 500;
font-style: normal;
font-family: "Inter", sans-serif;
color: #888888;
font-size: 24px;
letter-spacing: -0.5px;
line-height: 1.5;
text-align: left;
padding: 20px 0px;

}
@media screen and (max-width: 390px) and (max-height: 900px) { /* CELULARES */
   .cuerpo-articulo{
        width: 100%;
    }

    .imagenCompleta{
        width: 100%;
    }
    
    
.miniCuerpo h3 {
    width: 100%;
    font-size: 40px;
}
}

@media screen and (min-width: 800px) and (max-width: 900px) {
    .cuerpo-articulo{
        width: 100%;
    }
    .imagenCompleta{
        width: 100%;
    }
    
}