:root {
    --color-green-dark: #32401d81; /* Verde Oscuro */
    --color-green: #67733D; /* verde*/
    --color-naranja-fuerte: #BF5E26;
    --color-naranja-ligth: #D9985F;
    --color-azul: rgb(40, 56, 69);
    --color-blanco: #ffffff;
    --color-gris-logo: #333333;
    --color-negro: #000000;
  }
  
.secctionB{
    width: 100%;
    min-height: 100vh;
    background-color:var(--color-naranja-ligth);
    box-sizing: border-box;
    padding-top: 100px;
}

.titulo-tipo-b{
text-align: center;
margin-left: 100px;
height: auto;
white-space: pre-wrap;
word-wrap: break-word;
word-break: break-word;
overflow: visible;
font-weight: 400;
font-style: normal;
font-family: "Staatliches", sans-serif;
color: #000000;
font-size: 4rem;
letter-spacing: 0em;
line-height: 1.2;
text-align: left;
margin-bottom: 100px;
}

.contenedorGaleria{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.galeria {
    max-width: 1000px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px; 
  }
  
  .imagen-galeria {
    position: relative;
    padding-bottom: 100%;
    border-radius: 20px;
    overflow: hidden;
  }
  
  .imagen-galeria img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }

  .texto-superpuesto {
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #32401dd4; /* Fondo semi-transparente para resaltar el texto */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 0; /* Hacemos que el texto esté oculto inicialmente */
    transition: opacity 0.3s ease; /* Transición suave para mostrar/ocultar el texto */
  }

  .imagen-galeria:hover .texto-superpuesto {
    opacity: 1; /* Mostramos el texto al hacer hover en el div */
  
  }
  
  .texto-superpuesto h3 {
    font-family: "Staatliches", sans-serif;
    letter-spacing: 3px;
    font-size: 25px;
    margin-bottom: 15px;
    font-weight: bold;
    
  }
  
  .texto-superpuesto p {
    font-family:  "Inter";
    text-align: left;
    padding:  0 30px;
  }

  .mas{
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    padding: 20px;
    background-color: var(--color-naranja-fuerte);
    color: var(--color-blanco);
    font-family: Inter;
    font-size: large;
  }
  @media screen and (max-width: 350px) {
    .titulo-tipo-b{
      margin: 0;
      font-size: 3rem;
      text-align: center;
    }
    .contenedorGaleria{
      padding: 10px;
  }

    .galeria {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 50px; 
    }

    .mas{
      width: 100%;
      margin-top: 10px;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      outline: none;
      padding: 20px;
      background-color: var(--color-naranja-fuerte);
      color: var(--color-blanco);
      font-family: Inter;
      font-size: large;
    }
  }