:root {
  --color-green-dark: #32401D; /* Verde Oscuro */
  --color-green: #67733D; /* verde*/
  --color-naranja-fuerte: #BF5E26;
  --color-naranja-ligth: #D9985F;
  --color-azul: rgba(40, 56, 69, 0.8);
  --color-blanco: #ffffff;
  --color-gris-logo: #333333;
  --color-negro: #000000;
}


.btn{
  outline: none;
  padding: 10px 20px;
  border: 0;
  box-sizing: border-box;
  overflow: visible;
  border-radius: 8px;
  font-family: "Inter", "Inter Placeholder", sans-serif;
  cursor: pointer;
  transition: scale 0.3s ease;
}

.btn:hover{
  scale: 0.9;
}

.dark{
  box-shadow: 0px 0.7065919983928324px 0.7065919983928324px -0.625px rgba(0, 0, 0, 0.15), 0px 1.8065619053231785px 1.8065619053231785px -1.25px rgba(0, 0, 0, 0.14398), 0px 3.6217592146567767px 3.6217592146567767px -1.875px rgba(0, 0, 0, 0.13793), 0px 6.8655999097303715px 6.8655999097303715px -2.5px rgba(0, 0, 0, 0.12711), 0px 13.646761411524492px 13.646761411524492px -3.125px rgba(0, 0, 0, 0.10451), 0px 30px 30px -3.75px rgba(0, 0, 0, 0.05);
  background-color: #222222;
  color: white;
}